<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <title>hi</title>
    </head>
    <body>



        <div class="container" style="margin-top: 80px;">
            <div class="row">
                <div class="col-md-3 font-weight-bold">상태 업데이트</div>
                <div class="col-md-3">
                    <a href="#" class="font-weight-bold">사진/동영상 추가</a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="font-weight-bold">질문하기</a>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <form action="/" method="POST" class="form-group container row">{% csrf_token %}
                    <textarea type="text" name="content" class="form-control" placeholder="지금 무슨생각을 하고 계신가요?" rows="1"></textarea>
                    <button type="submit" class="btn btn-primary btn-sm" >POST</button>
                </form>
            </div>
        </div>

        <div class="container" style="margin-top: 25px;">
            {% for item in datas %}
                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-1">
                        <img src={{item.img}} width="80px;" height="80px;"/>
                    </div>
                    <div class="col-md-11">
                        <span>
                            <a href="#" class="font-weight-bold">{{ item.author }}</a>
                        </span>
                        <p>{{ item.content }}</p>
                    </div>
                </div>
                <hr />
            {% endfor %}
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>