<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <title>hi</title>
    </head>
    <body>


        <form action="/" method="POST" class="form-group container row">{% csrf_token %}
            <input type="hidden" name="isDelete" value="false" />
            <div class="col-lg-3">
                <input type="text" name="author" class="form-control" placeholder="input author"/>
            </div>

            <div class="col-lg-9">
                <textarea type="text" name="content" class="form-control" placeholder="input content"></textarea>
            </div>

            <div class="col-lg-12">
                <button type="submit" class="btn btn-primary" >POST</button>
            </div>
            

        </form>

        <h1>timeline</h1>
        {% for item in datas %}
            <h4>{{ item.author }}</h4>
            <p>{{ item.content }}</p>
        {% endfor %}

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>