<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <title>hi</title>
    </head>
    <body>
        <h1>
            안녕하세요.
        </h1>
        <div class="container">
            <div class="col-lg-4 col-lg-offset-4">
                <form method="GET" action="/" class="form-group">
                    <input type="text" name="username" placeholder="이름을 입력하세요." class="form-control"/>
                    <button class="btn btn-primary" type="submit">요청 보내기!</button>
                </form>
            </div>
        </div>
        {% if username %}
            <h1 class="text-primary"> 안녕하세요! {{ username }}님! </h1>
            <h3>이 수업은 {{ study }} 수업입니다.</h3>
        {% endif %}

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>